body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: white
}

.square-window-left {
    width: 40%; /* Adjust as needed */
    margin-left: 100px;
    height: 923px; /* Same value as width to create a square */
    position: relative; /* Enables positioning of other elements inside */
    overflow: hidden; /* Hide overflowing content */
    background: linear-gradient(45deg, #F27169, #FF9A5D); /* Gradient background */
}
.about-us {
    position: absolute;
    top: 10px; /* Adjust the top position */
    left: 570px; /* Adjust the left position */
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.about {
    color: white; /* Set the color for "about" */
}

.us {
    position: relative;
    font-weight: bold;
    font-size: 100px;
    background: linear-gradient(to right, #FF9A5D, #FFC95B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-left: 10px; /* Adjust as needed */
}

.right-column {
    position: absolute;
    top: 11px; /* Adjust as needed */
    right: 1400px; /* Adjust as needed */
    display: flex;
    align-items: flex-end; /* Align content to the right side */
}

.who-heading {
    font-size: 33px;
    color: #F27169;
    margin: 0;
    position: absolute;
    top: 390px; /* Adjust the top position as needed */
    right: 470px; /* Adjust the right position as needed */
    font-family: 'serif',;
}

.who-description {
    font-size: 11px;
    line-height: 1.5;
    text-align: justify;
    position: absolute;
    top: 425px; /* Adjust the top position as needed */
    right: 400px; /* Adjust the right position as needed */
    font-family: 'Open Sans', cursive;
    word-wrap: break-word; /* Allow word wrapping within the container */
    white-space: normal; /* Allow multiple lines of text */
    max-width: 300px; /* Adjust the maximum width as needed */
}

.goal-heading {
    font-size: 33px;
    color: #F27169;
    margin: 0;
    position: absolute;
    top: 560px; /* Adjust the top position as needed */
    right: 445px; /* Adjust the right position as needed */
}

.goal-description {
    font-size: 11px;
    line-height: 1.5;
    text-align: justify;
    position: absolute;
    top: 600px; /* Adjust the top position as needed */
    right: 400px; /* Adjust the right position as needed */
    font-family: 'Open Sans', cursive;
    word-wrap: break-word; /* Allow word wrapping within the container */
    white-space: normal; /* Allow multiple lines of text */
    max-width: 300px; /* Adjust the maximum width as needed */
}

.white-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%; /* Make it a circle */
    position: absolute;
    bottom: 570px; /* Adjust the position as needed */
    right: 482px; /* Adjust the right position as needed */

    border: 5px solid transparent;
    border-image: linear-gradient(to right, #FF9A5D, #FFC95B);
    border-image-slice: 1; /* Keep the whole border image */
}

.img-container {
    position: absolute;
    bottom: 580px; /* Adjust the top position as needed */
    right: 500px; /* Adjust the right position as needed */
}

img {
    width: 75px; /* Adjust the width as needed */
    height:  75px; /* Adjust the height as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}